body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* ===== HEADER ===== */
.top-header {
    background: #1f4d2e;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 95px;
    height: 95px;
    object-fit: contain;
    margin-right: 15px;
}

.academy-name h2 {
    margin: 0;
    color: #f1c232;
    font-size: 30px;
    padding-left: 150px;
}

.header-right p {
    margin: 2px 0;
    font-size: 13px;
}

/* ===== TITLE ===== */
.title-bar {
    border-top: 5px solid #1f4d2e;
    border-bottom: 5px solid #1f4d2e;
    text-align: center;
    padding: 12px;
}

.title-bar h2 {
    margin: 0;
    letter-spacing: 2px;
}

/* ===== FORM ===== */
.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.application-form {
    width: 750px;
    border: 2px solid #1f4d2e;
    padding: 25px;
    border-radius: 5px;
}

.row {
    margin-bottom: 15px;
}

.row label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.row input,
.row textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #444;
    border-radius: 3px;
}

textarea {
    height: 60px;
}

/* two column layout */
.two-col {
    display: flex;
    gap: 20px;
}

.two-col div {
    flex: 1;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #1f4d2e;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #163820;
}

/* Mobile Responsive */
@media(max-width: 768px){
    .two-col {
        flex-direction: column;
    }
    .application-form {
        width: 90%;
    }
}

